:root {
  --pink: #807917;
  --bg: #0a0a0a;
  --shadow: 0 2px 2px rgb(0 0 0 / 0.5);
}

body {
  font-size: 1.2rem;
  font-family: 'Work Sans', sans-serif;
}


.hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(bismillah.jpg);
   background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1; 
}
.hero::after {
  content: '';
  position: absolute;
  inset: 0;
  background: rgba(0 0 0 0.45);
  z-index: -1;
  filter: grayscale();
}



.hero {
  position: relative;
  min-height: 100vh;
 z-index: 1;
}

.hero h1, .hero h4, .hero p {
  text-shadow: var(--shadow);
}
.hero h1 {
  font-family: 'Sacramento', cursive;
  font-size: 6rem;
}

.hero h4,
.hero p {
  font-size: 1.4rem;
}


.hero a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  background-color: transparent;
  border: 2px solid white;
  box-shadow: var(--shadow);
  padding: 10px 30px;
  border-radius: 30px;
  transition: 0.3s;
}

.hero a:hover {
  background-color: var(--pink);
  border-color: var(--pink);
}


.simply-countdown {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 25px;
}
.simply-countdown .simply-section {
  background-color: #807917;
  padding: 15px 18px;
  border-radius: 12px;
  min-width: 70px;
  text-align: center;
  box-shadow: 0 8px 20px rgba(155, 151, 30, 0.35);
}



.simply-countdown .simply-section {
  box-shadow: 0 8px 20px rgba(155, 151, 30, 0.35);
}

.simply-countdown .simply-section span {
  display: block;
  font-size: 26px;
  font-weight: bold;
  color: white;
}

.simply-countdown .simply-section p {
  margin: 0;
  font-size: 13px;
  color: white;
  text-transform: uppercase;
}

/* RESPONSIVE */
@media (max-width: 576px) {
  .simply-countdown {
    flex-wrap: wrap;
  }
}

/* Media Query */
/* laptop */
@media (max-width: 992px) { 
html {
  font-size: 75%;
}
}
/* Tablet */
@media (max-width: 768px) {
    html {
      font-size: 65%;
    }
}
/* Mobile Phone */
@media (max-width: 576px) {
    html {
      font-size: 60%;
    }
}



